$primary-color: #00247D;
$secondary-color: #103aa5;
$primary-text: #fff;
$primary-light-text: rgb(194, 193, 193);
$secondary-text: #000;
$secondary-light-text: rgb(65, 64, 64);
$primary-background: #F5F5F5;
$secondary-background: #E5E5E5;
$tertiary-background:#00247D;