.all_events{
  padding: 60px 0px;
  &_title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
     position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 50px;
      border-bottom: 3px solid $primary-color;
      left: 0;
      bottom: 0px;
      right: 0;
    margin: 0 auto;
    }
  }
  .event_card{
    margin: 0px 25px;
   padding-bottom: 30px;
   margin-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
  }
}