.banner {
  .banner_item {
    height: calc(100vh - 260px);
    position: relative;
    z-index: 0;
    .banner_wrapper {
      height: calc(100vh - 220px);
      display: flex;
      align-items: center;
      width: 60%;
    }
    h1 {
      color: white;
      font-size: 46px;
      line-height: 120%;
      font-weight: 500;
      width: 70%;
    }
    .description {
      color: #fff;
      margin: 15px 0px 45px 0;
      font-size: 16px;
      width: 80%;
    }
    .button_wrapper {
      a:first-child {
        margin-right: 30px;
      }
    }
  }
  .overlay {
    position: relative;
    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      background: linear-gradient(45deg, #0a0a0a87, #00000030);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
.page_banner{
  height: calc(100vh - 260px);
  position: relative;
  img{
    height: inherit;
    width: 100%;
  }
    &::after {
        z-index: 0;
        content: "";
        position: absolute;
        background: linear-gradient(45deg, rgba(10, 10, 10, 0.5294117647), rgba(0, 0, 0, 0.1882352941));
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .content_wrapper{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      z-index: 1;
    }
    .title{
      font-size: 36px;
      line-height: 120%;
      font-weight: 500;
      width: 70%;
    }
    .subtitle{
      margin: 15px 0px 45px 0;
      font-size: 18px;
      width: 80%;
    }
}